/* change menu */

.sidebar-xs .navigation-main .nav-1 { top: -397px!important; padding-top: 397px; }
.sidebar-xs .navigation-main .nav-01 { top: -503px!important; padding-top: 495px; }
.coach-navbar-top.sidebar-xs .navigation-main .nav-3 { top: -540px!important; padding-top: 540px; }
.coach-navbar-top.sidebar-xs .navigation-main .nav-4 { top: -615px!important; padding-top: 615px; }
.coach-navbar-top.sidebar-xs .navigation-main .nav-4 .nav-01 { top: -750px!important; padding-top: 740px; }
span.label-new-notification { position: absolute; top: 15px; right: 10px; width: 40px; background-color: #fdb414; padding: 3px 0px; text-align: center; border-radius: 6px; font-size: 11px; }
.sidebar-xs .sidebar-section span.label-new-notification { top: 12px; right: 3px; width: 35px; background-color: transparent; padding: 1px 0px; font-size: 10px; color: #fdb414; font-weight: 500; }
.pl0{ padding-left: 0px !important; }
.icon-i.lfk-icon img{ height: 25px; width: 25px; margin-top: -1px; }

/* end of change menu */

.left-gs-top{ padding: 0; margin: 0;  float: left; }
.left-gs-top .icon-gmail{ padding: 0; margin: 0; float: left; }
.left-gs-top .icon-gmail img{ padding: 0; margin: 0; height: 50px; }
.left-gs-top h2 { padding: 0 0 0 20px; margin: 0; font-weight: 700; color: #222222; float: left; font-size: 34px; line-height: 45px; display: inline-block; }
.left-gs-top h2.pl0{ padding-left: 0px !important; }

.gs-topic-header{ padding: 0; margin: 0;  }
.gs-topic-header .gs-left-dropdown{ padding: 0; margin: 0;  float: right; width: 50%; padding-right: 15px; }
.gs-topic-header .gs-left-dropdown .dropdown-user-gs{ padding: 10px 0 10px 0; margin: 0; clear: both; width: 100%; display: flex; align-items: center; justify-content: flex-end; }
.gs-topic-header .gs-left-dropdown .dropdown-user-gs img { height: 35px; width: 35px; max-height: 35px; max-width: auto; float: left; border-radius:100px;  }
.gs-topic-header .gs-left-dropdown .dropdown-user-gs a.dropdown-toggle { float: left; padding: 0; margin: 0; display: flex; align-items: center; }
.gs-topic-header .gs-left-dropdown .dropdown-user-gs .right-txt-div { padding: 0 0px 0 10px; font-size: 14px; font-weight: 500; color: #222222; }
.gs-topic-header .gs-left-dropdown .dropdown-user-gs .right-txt-div .caret:after { font-size: 24px; color: #666666; padding-left: 20px; }
.gs-topic-header .gs-left-dropdown .dropdown-user-gs .dropdown-menu { min-width: 280px; }

.gs-topic-header .gs-left-dropdown .dropdown-user-gs .dropdown-menu { min-width: 280px; padding: 0px; }
.gs-topic-header .gs-left-dropdown .dropdown-user-gs .dropdown-menu img.img-responsive.main-icon-01 { height: 20px !important; width: 20px !important; border-radius: 0px; }
.gs-topic-header .gs-left-dropdown .dropdown-user-gs .dropdown-menu img.img-responsive.main-icon-01.main-icon-02.edit-white { height: 18px !important; width: 18px !important; margin-top: 2px; }
.gs-topic-header .gs-left-dropdown .dropdown-user-gs .dropdown-menu>li{ margin-bottom: 0px; }
.gs-topic-header .gs-left-dropdown .dropdown-user-gs .dropdown-menu>li>a { padding: 12px 15px; border-top: 1px solid #eee; float: left; width: 100%; }
.gs-topic-header .gs-left-dropdown .dropdown-user-gs .dropdown-menu span.min-width20 { clear: left; min-width: 20px; float: left; }

.middle-area-div.gs-middle-area-div{ padding: 0; }

.gs-body-div{ padding: 0; margin: 0; width: 100%; min-height: 100vh; display: flex; }
.gs-body-div .left-gs-side-div{ padding: 20px; margin: 0; width: 30%; float: left; height: 100%; }
.gs-body-div .right-gs-side-div{ padding: 0px; margin: 0; width: 70%; float: left; background-color: #ffffff; height: 100%; border-left: 1px solid #F2F2F2;  }

.left-gs-side-div .custom-gs-tab{ padding: 0; margin: 0; }
.left-gs-side-div .custom-gs-tab .nav-pills>li>a { height: 50px; font-size: 14px; line-height: 32px; font-weight: 600; color: #00134D; background-color: #fff; border-left: 3px solid transparent; border-radius: 0px; transition: all 0.3s ease-in-out; display: flex; align-items: center; }
.left-gs-side-div .custom-gs-tab .nav-pills>li.active>a { background-color: #F0F4FF; border-left: 3px solid #00134D; border-radius: 0px; }
.left-gs-side-div .custom-gs-tab .nav-pills>li.active>a, .custom-gs-tab .nav-pills>li.active>a:focus, .custom-gs-tab .nav-pills>li.active>a:hover { border-bottom: 0px solid #003882; }
.left-gs-side-div .custom-gs-tab .nav-pills>li:hover>a { background-color: #F0F4FF; border-left: 3px solid transparent; border-radius: 0px; }
.left-gs-side-div .custom-gs-tab .nav-stacked>li+li{ margin-top: 0px; }
.left-gs-side-div .custom-gs-tab span.icon-span{ float: left; width: 24px; line-height: 26px; }
.left-gs-side-div .custom-gs-tab span.txt-name{ float: left; width: calc( 100% - 24px); padding:0 0 0 15px;  }

.left-gs-side-div .compose-btn-row{ padding: 0; margin: 0 0 20px 0; }
.btn.btn-white.btn-compose { height: 80px; background-color: #fff; border-radius: 150px; padding: 0 35px; min-width: 230px; text-align: left; display: flex; align-items: center; font-size: 20px; font-weight: 600; color: #222222; transition: all 0.3s ease-in-out; }
.btn.btn-white.btn-compose:hover, .btn.btn-white.btn-compose:focus { box-shadow: 0 0 8px 0 rgba(102, 102, 102, 0.23); }

.btn.btn-white.btn-compose img.img-compose{ width: 35px; float: left;  }
.btn.btn-white.btn-compose .txt-compose{ float: left; padding:0 0 0 20px;  }

.search-box-listing-div{ padding: 0; margin: 0; }
.search-box-listing-div .search-box-listing-row{ padding: 0; margin: 0; transition: all 0.3s ease-in-out; }
.search-box-listing-div .search-box-listing-row .input-group{ transition: all 0.3s ease-in-out; }
.search-box-listing-div .search-box-listing-row:hover .input-group{ box-shadow: 0 0 8px 0 rgba(102, 102, 102, 0.11); border-radius: 10px; }
.search-box-listing-div .search-box-listing-row .input-group-addon { height: 45px; padding: 0 5px 0 15px; background-color: #fff; border: none; border-radius: 10px 0 0 10px; }
.search-box-listing-div .search-box-listing-row  .input-group-addon>i { font-size: 21px; color: #666666; }
.search-box-listing-div .search-box-listing-row .user-searchbox { height: 45px; padding: 0 15px 0 5px; border-left: 0px; font-size: 14px; color: #666666; border-radius: 0 10px 10px 0; border: none; }

.search-box-listing-div .searchbox-result-listing { padding: 0; margin: 0px 0 0 0;  }
.search-box-listing-div .searchbox-result-listing .user-row { padding: 12px 15px 10px 20px; margin: 0; float: left; width: 100%; border-bottom: 1px solid transparent; background-color: #fff;  }
.search-box-listing-div .searchbox-result-listing .user-row:last-child{ border-radius: 0 0px 10px 10px; }
.search-box-listing-div .searchbox-result-listing .user-row .img_thumb_div { padding: 0; margin: 0; width: 50px; height: 50px; float: left; max-width: 50px; position: relative; }
.search-box-listing-div .searchbox-result-listing .user-row .user-profile-link { clear: both; display: inline-block; width: 100%; }
.search-box-listing-div .searchbox-result-listing .user-row .img_thumb_div .img-user { overflow: hidden; border-radius: 100%; width: 100%; }
.search-box-listing-div .searchbox-result-listing .user-row .img_thumb_div .profile-status { width: 12px; height: 12px; background-color: #23BF3D; position: absolute; bottom: 4px; right: 1px; border-radius: 100%; }
.search-box-listing-div .searchbox-result-listing .user-row .img_thumb_div .profile-status.active{ background-color: #57D48F; }
.search-box-listing-div .searchbox-result-listing .user-row .user-content-div { padding: 0px 0 0 10px; margin: 0; float: left; min-height: 50px; display: flex; justify-content: center; flex-direction: column; width: calc( 100% - 50px); }
.search-box-listing-div .searchbox-result-listing .user-row .user-content-div span.span-times { float: right; position: absolute; right: 0; font-size: 10px; color: #B2B2B2; top: 0;     line-height: 20px; }
.search-box-listing-div .searchbox-result-listing .user-row .user-content-div h3 { padding: 0; margin: 0 0 2px 0; font-size: 14px; font-weight: 600; color: #222222; align-items: center; position: relative; display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding-right: 70px; }
.search-box-listing-div .searchbox-result-listing .user-row .user-content-div .user-status { padding: 0; margin: 0; font-size: 12px; font-weight: 500; color: #666666; text-overflow: ellipsis; white-space: pre; width: 100%; overflow: hidden; line-height: 20px; }
.search-box-listing-div .searchbox-result-listing .user-row:hover { box-shadow: 1px 3px 6px 0 rgba(0, 0, 0, 0.16); border-bottom: 1px solid #F2F2F2; }

.search-box-listing-div .search-box-listing-row .radius-search .input-group-addon { border-radius: 10px 0 0 0px; }
.search-box-listing-div .search-box-listing-row .radius-search .user-searchbox { border-radius: 0 10px 0px 0; }
.display-none{ display: none; }

.mailbox-body-div{ padding: 30px 50px; margin: 0; min-height: 950px; }
.mailbox-body-div .search-box-body-listing-row{ padding: 0px; margin: 0 0 20px 0; }
.mailbox-body-div .search-box-body-listing-row .input-group{ transition: all 0.3s ease-in-out; box-shadow: 0 0 8px 0 rgba(102, 102, 102, 0.11); border-radius: 10px; }
.mailbox-body-div .search-box-body-listing-row .input-group-addon { height: 45px; padding: 0 5px 0 5px; background-color: #fff; border: none; border-radius: 10px 0 0 10px; }
.mailbox-body-div .search-box-body-listing-row .input-group-addon>i { font-size: 21px; color: #666666; }
.mailbox-body-div .search-box-body-listing-row .searchbox-listing-input { height: 45px; padding: 0 15px 0 10px; border-left: 0px; font-size: 14px; color: #666666; border-radius: 10px; border: none; }

.maillisting-box-div{ padding: 0px 0px; margin: 0; }

.maillisting-box-div .maillisting-header-box-row { padding: 0px 0px; margin: 0 0 20px 0; display: block; float: left; width: 100%; }
.maillisting-box-div .maillisting-header-box-row .maillisting-header-left { padding: 0px 0px; margin: 0; float: left; width: 50%; }
.maillisting-box-div .maillisting-header-box-row .maillisting-header-left .form-group.left-formgroup { float: left; min-width: 150px; margin: 0; }
.maillisting-box-div .maillisting-header-box-row .maillisting-header-left .link-left-box { float: left; padding: 0 0 0 15px; margin: 0; height: 36px; line-height: 36px; display: inline-block; }
.maillisting-box-div .maillisting-header-box-row .maillisting-header-left a.link-a { color: #3B4A76; font-size: 14px; line-height: 18px; }
.maillisting-box-div .maillisting-header-box-row .maillisting-header-right { padding: 0px 0px; margin: 0; float: left; width: 50%; display: flex; align-items: center; justify-content: flex-end; }
.maillisting-box-div .maillisting-header-box-row .maillisting-header-right .show-data{ padding: 0px 0px; margin: 0; float: left;  }
.maillisting-box-div .maillisting-header-box-row .maillisting-header-right p { margin: 0; float: left; font-size: 13px; color: #666; line-height: 16px; padding: 0 25px 0 0; }
.maillisting-box-div .maillisting-header-box-row .maillisting-header-right span.txt-of{ color: #CCCCCC; }
.maillisting-box-div .maillisting-header-box-row .arrow-button { background-color: transparent; border: 1px solid transparent; height: 36px; border-radius: 100px; color: #222222; line-height: 24px; transition: all 0.3s ease-in-out; }
.maillisting-box-div .maillisting-header-box-row .arrow-button:hover{ background-color: #eee; color: #666666;  }
.maillisting-box-div .maillisting-header-box-row .arrow-button.disable{ color: #666666; }

.maillisting-box-div .maillisting-header-box-row .bootstrap-select>.btn.btn-default, .maillisting-box-div .bootstrap-select>.btn.btn-default.disabled { background-color: #FAFAFA; border-color: #F2F2F2; }
.maillisting-box-div .maillisting-header-box-row .input-group-addon { background-color: #FAFAFA; border-color: #F2F2F2; min-width: 50px; }
.maillisting-box-div .checkbox01 { -webkit-appearance: none; -moz-appearance: none; appearance: none; display: inline-block; position: relative; background-color: transparent; color: #666; top: 2px; height: 18px; width: 18px; border: 2px solid #666; border-radius: 0; cursor: pointer; outline: none; border-radius: 3px; transition: all 0.3s ease-in-out;  }
.maillisting-box-div .checkbox01:checked::before { position: absolute; font-size: 12px; left: 3px; top: -2px; content: '\02143'; transform: rotate(40deg); font-weight: 400; }
.maillisting-box-div .checkbox01:hover {background-color: #f7f7f7; }
.maillisting-box-div .checkbox01:checked, .maillisting-box-div .checkbox01.checkbox-inner1:checked { background-color: #666; color: #fff; border:2px solid #666; }
.maillisting-box-div .checkbox01.checkbox-inner1{ border: 2px solid #EBEBEB; }
.maillisting-box-div .checkbox01.checkbox-inner1:hover, .maillisting-box-div .checkbox01.checkbox-inner1:focus{ border: 2px solid #666666; }

.maillisting-box-div .maillisting-body-box-row{ padding: 0; margin: 0; float: left; width: 100%; }
.maillisting-box-div .maillisting-body-box-row .row-div-mail{ padding: 0; margin: 0; min-height: 60px; background-color: #fff; border-top: 1px solid #F2F2F2; border-bottom: 1px solid #F2F2F2; display: flex; align-items: center; }
.maillisting-box-div .maillisting-body-box-row .row-div-mail.active{ background-color: #FFFAF0; }
.maillisting-body-box-row .row-div-mail .checkbox-left { padding: 0; margin: 0; min-width: 50px; text-align: center; }
.maillisting-body-box-row .row-div-mail .starred-div{ padding: 0; margin: 0; min-width: 50px; text-align: left; line-height: 27px; }
.maillisting-body-box-row .row-div-mail .starred-div .icon-star { font-size: 21px; color: #666666; line-height: 20px; }
.maillisting-body-box-row .row-div-mail .starred-div .icon-star:hover { color: #FDB413; }
.maillisting-body-box-row .row-div-mail .starred-div .icon-star.icon-active { color: #FDB413; }
.maillisting-body-box-row .row-div-mail .starred-div .btn-transaprent{ background-color: transparent;border: 1px solid transparent; padding: 2px 0 0 0; }
.maillisting-body-box-row .row-div-mail .name-txt{ padding: 0; margin: 0; width: 25%; float: left; display: inline-block; line-height: 0px; padding-right: 10px; position: relative; }
.maillisting-body-box-row .row-div-mail .name-txt h3 { padding: 0; margin: 0; font-size: 16px; font-weight: 600; color: #222222; width: 100%; line-height: 24px; white-space: nowrap; display: inline-block; overflow: hidden; text-overflow: ellipsis; line-height: 27px; }
.maillisting-body-box-row .row-div-mail .name-txt::after { content: ""; position: absolute; right: -10px; top: 12px; height: 5px; width: 5px; background-color: #4D4D4D; display: inline-block; border: 1px solid #707070; border-radius: 100px; }
.maillisting-body-box-row .row-div-mail .desc-txt{ padding: 0; margin: 0; width: 75%; float: left; display: inline-block; line-height: 0px; padding-left: 10px; }
.maillisting-body-box-row .row-div-mail .desc-txt p{ padding: 0 60px 0 20px; margin: 0; font-size: 16px; font-weight: 400; color: #222222; width: 100%; line-height: 24px; white-space: nowrap; display: inline-block; overflow: hidden; text-overflow: ellipsis; line-height: 27px; }
.maillisting-body-box-row .right-div-100 { width: calc( 100% - 100px ); float: left; display: flex; align-items: center; position: relative; }

.maillisting-body-box-row .dropdown-right-div { padding: 0; margin: 0; position: absolute; right: 0; }
.maillisting-body-box-row .dropdown-right-div .btn-transaprent{ background-color: transparent;border: 1px solid transparent; height: 56px; }
.dropdown-right-div .btn-default:active:hover, .dropdown-right-div .btn-default.active:hover, .dropdown-right-div .open>.dropdown-toggle.btn-default:hover, .dropdown-right-div .btn-default:active:focus, .dropdown-right-div .btn-default.active:focus, .dropdown-right-div .open>.dropdown-toggle.btn-default:focus, .dropdown-right-div .btn-default:active.focus, .dropdown-right-div .btn-default.active.focus, .dropdown-right-div .open>.dropdown-toggle.btn-default.focus { background-color: transparent; border-color: transparent; }
.maillisting-body-box-row .dropdown-right-div .icon-right{ color: #666666; font-size: 21px; text-align: left; }
.maillisting-body-box-row .dropdown-right-div .linka{ color: #666666; font-size: 12px; text-align: left; font-weight: 500; }
.maillisting-body-box-row .dropdown-right-div .open>.dropdown-menu { display: block; right: 0px !important; left: auto; box-shadow: 0 0 5px 0 #66666633; border: 1px solid transparent; }

/* compose modal */

.compose-modal{ padding: 0; margin: 0; position: fixed; bottom: 0; right: 60px; z-index: 999; display: none; }
.compose-modal .compose-div{ padding: 0; margin: 0; position: relative; background-color: #fff; width: 600px; }
.compose-modal .compose-div .compose-top-header-div { padding: 0 20px; margin: 0; position: relative; display: flex; align-items: center; width: 100%; border: 1px solid #00134D; background-color: #00134D; color: #fff; border-radius: 4px 4px 0 0; min-height: 65px; }
.compose-modal .compose-div .compose-top-header-div .compose-left-top-header{ padding: 0; margin: 0; display: flex; justify-content: flex-start; width: 70%; }
.compose-modal .compose-div .compose-top-header-div .compose-left-top-header h3 { padding: 0px 0; margin: 0; font-size: 16px; font-weight: 600; line-height: 24px; }
.compose-modal .compose-div .compose-top-header-div .compose-right-top-header { padding: 0; margin: 0; display: flex; justify-content: flex-end; width: 30%; }
.compose-modal .compose-div .compose-top-header-div .btn.btn-close { padding: 0 5px; margin: 0; height: 32px; display: inline-block; float: left; background-color: transparent; line-height: 0px; text-align: center; font-size: 14px; transition: all 0.3s ease-in-out; cursor: pointer; }
.compose-modal .compose-div .compose-top-header-div .btn.btn-close:hover { background-color: rgba(0, 0, 0, 0.4); color: #fff; }
.compose-modal .compose-div .compose-top-header-div .btn.btn-close .cancel-icon{ font-size: 21px; }

.compose-modal .compose-div .compose-body-div{ padding: 0px 0; margin: 0; display: block; position: relative; float: left;  border: 1px solid #E2E2E2; border-bottom: 0px; width: 100%; min-height: 100%; }
.compose-modal .compose-div .compose-body-div .compose-form-div{ padding: 20px; margin: 0; position: relative; }
.compose-modal .compose-div .compose-body-div .compose-form-div .label-left {  padding: 0;  margin: 0;  position: absolute;  top: 10px;  left: 5px;  color: #070707;  display: inline-block;  float: left;  z-index: 1;  font-size: 14px;  font-weight: 500;  line-height: 18px; }
.compose-modal .compose-div .compose-body-div .compose-form-div .form-group{ padding: 0; margin: 0 0 5px 0;  }
.compose-modal .compose-div .compose-body-div .compose-form-div .select2-container-multi .select2-choices { padding: 0 0 3px 0;  border:none; border-bottom: 1px solid #ddd; background-color: #fff; padding-left: 30px; }
.compose-modal .compose-div .compose-body-div .compose-form-div .select2-container-multi .select2-choices .select2-search-choice>div { color: #00134d; padding: 7px 12px; padding-right: 30px; background-color: #f0f4ff; font-weight: 400; }
.compose-modal .compose-div .compose-body-div .compose-form-div .select2-container-multi .select2-choices .select2-search-choice-close { opacity: 1; }
.compose-modal .compose-div .compose-body-div .compose-form-div .select2-container-multi .select2-choices .select2-search-choice-close:after{ color: #00134d; }
.compose-modal .compose-div .compose-body-div .compose-form-div input.form-control { border: none; border-bottom: 1px solid #ddd; border-radius: 0px; padding: 10px 5px; height: auto; }

.compose-modal .compose-div .compose-body-div .compose-form-div ::-webkit-input-placeholder {color: #070707;font-size: 14px;font-weight: 500;   } 
.compose-modal .compose-div .compose-body-div .compose-form-div ::-moz-placeholder {color: #070707;font-size: 14px; font-weight: 500; }
.compose-modal .compose-div .compose-body-div .compose-form-div :-ms-input-placeholder {color: #070707;font-size: 14px; font-weight: 500; } 
.compose-modal .compose-div .compose-body-div .compose-form-div :-moz-placeholder {color: #070707;font-size: 14px; font-weight: 500; } 

.compose-modal .compose-div .compose-body-div .compose-form-div .Editor-editor { min-height: 200px; padding: 15px; background-color: #ffffff; }
.compose-modal .compose-div .compose-body-div .compose-form-div .Editor-editor:focus{ outline: none; }
.compose-modal .compose-div .compose-body-div .compose-form-div div#menuBarDiv_compose-area { position: absolute; bottom: 0; width: 100%; text-align: center; }
.compose-body-div .row-fluid.Editor-container .btn-group>.btn-group:nth-child(1), .compose-body-div .row-fluid.Editor-container .btn-group:nth-child(2)>.btn:nth-child(4), .compose-body-div .row-fluid.Editor-container .btn-group>.btn-group:nth-child(2),.compose-body-div .row-fluid.Editor-container .btn-group>.btn-group:nth-child(3), .compose-body-div .row-fluid.Editor-container .btn-group:nth-child(4), .compose-body-div .row-fluid.Editor-container .btn-group:nth-child(6), .compose-body-div .row-fluid.Editor-container .btn-group:nth-child(7), .compose-body-div .row-fluid.Editor-container .btn-group:nth-child(8), .compose-body-div .row-fluid.Editor-container .btn-group:nth-child(9){ display: none; }

.compose-modal .compose-div .compose-top-footer-div { padding: 10px; margin: 0; position: relative; display: flex; align-items: center; width: 100%; border: 1px solid #E2E2E2; background-color: #F2F2F2; color: #fff; border-radius: 0; min-height: 65px; }
.compose-modal .compose-div .compose-top-footer-div .post-input-box01 { padding: 0; margin: 0; width: calc( 100% - 100px ); position: relative; }
.compose-modal .compose-div .compose-top-footer-div .post-input-box01 .form-control.textarea-control { width: 100%; border: 1px solid #E2E2E2; border-radius: 0; height: 44px; max-height: 80px; font-size: 13px; padding: 10px 45px 10px 15px; border-radius: 0px; resize: none; line-height: 21px; }
.compose-modal .compose-div .compose-top-footer-div .btn-postdiv{ width: 100px; }
.compose-modal .compose-div .compose-top-footer-div .btn.btn-send { background-color: #FDB413; font-size: 16px; font-weight: 500; width: 100%; line-height: 26px; height: 44px; transition: all 0.3s ease-in-out; border-radius: 0px; }
.compose-modal .compose-div .compose-top-footer-div .btn.btn-send:hover { background-color: #00134d; color: #fff; }

.compose-modal .compose-div .compose-top-footer-div .compose-footer-icon-div{ padding: 0; margin: 0; position: absolute; top: 0; right: 0; }
.compose-modal .compose-div .btn.btn-file-upload { border: 1px solid transparent; border-radius: 0px; color: #666; padding: 0; font-size: 14px; background-color: transparent; width: 100%; text-align: left; }
.compose-modal .compose-div .btn.btn-file-upload label { padding: 8px 20px; display: table; color: #666; margin: 0; font-weight: 500; width: auto; line-height: 24px; }
.compose-modal .compose-div .btn.btn-file-upload .material-icons.post_icons { font-size: 22px; line-height: 26px; vertical-align: top; color: #666666; }
.compose-modal .compose-div .btn.btn-file-upload span { display: inline-block; line-height: 24px; padding: 0; margin: 0 0 0 10px; }
.compose-modal .compose-div .btn.btn-file-upload input[type="file"] { display: none; }

.cd-shadow-overlayer{ position: fixed; min-height: 100%; width: 100%; top: 0; left: 0; background: rgba(0, 0, 0, 0.2); cursor: pointer; z-index: 9999; display: none; }
.display_block{ display: block; animation-delay: 0.1s; }

/* End of compose modal */


/* added by aakhil work on cc and bcc */

.compose-modal .compose-div .compose-body-div .compose-form-div .select2-container-multi .select2-choices { padding-right: 70px;}
.compose-modal .compose-div .compose-body-div .compose-form-div .bcc-mail .select2-container-multi .select2-choices  {padding-left: 35px;}
.compose-form-div .cc-bcc {display: inline-block; position: absolute; top: 8px; right: 0; }
.compose-form-div .cc-bcc a {padding: 0 5px; color: #070707;}
.add-cc-bcc {position: relative; margin-bottom: 5px;}


.btn-pad-0 {padding: 0 !important; background-color: transparent; border: 0 !important;}
.dropdown-mail-info .mail-info {padding: 15px; background-color: #ffffff; font-size: 13px;
    line-height: 24px;
    font-weight: 500;
    color: #666666;}
    .dropdown-mail-info {margin-bottom: 10px;}
    .dropdown-mail-info .mail-info span:nth-child(1) {min-width: 90px; display: inline-block; color: #727272;}
    .dropdown-mail-info .mail-info span strong {margin-right: 10px;}


    .from-user-search i.material-icons {font-size: 24px;padding: 10px;background-color: #fafafa;
        color: #727272;
        border-radius: 4px;
        border: 1px solid #F2F2F2;
        }
.mail-seach-text h3 {font-size: 16px; margin: 0; line-height: 24px;
    color: #333333;
    font-weight: 600;}
.mail-seach-text p {margin: 0; line-height: 20px;font-size: 13px; color: #727272}

/******************************************************************************/  
/********************            LFK Team Chat              *******************/
/******************************************************************************/

.teamchat-middle-area-div{ padding: 0; margin: 0; }

.team-chat-header.gs-topic-header .gs-left-dropdown { float: left; width: 50%; padding: 0 0 2px 0; min-height: 65px; display: flex; align-items: center; }
.team-chat-header.gs-topic-header .gs-left-dropdown h2 { padding: 0; margin: 0; font-size: 20px; font-weight: 600; line-height: 30px; display: block; }

.teamchat-body-div .team-chat-user { padding: 15px 20px 15px 20px; margin: 0 0 20px 0; clear: both; width: 100%; display: flex; align-items: center; background-color: #fff; border-bottom: 1px solid #F2F2F2; }
.teamchat-body-div .team-chat-user .img-thumb{ padding: 0; margin: 0; }
.teamchat-body-div .team-chat-user .img-thumb .img-responsive.img-w24 { height: 40px; width: 40px; max-height: 40px; max-width: auto; float: left; border-radius: 100px; }
.teamchat-body-div .team-chat-user .right-txt-div { padding: 0 0px 0 15px; font-size: 14px; font-weight: 600; color: #222222; }

.teamchat-body-div .team-chat-leftrow { padding: 15px 20px 15px 20px; margin: 0 0 20px 0; clear: both; width: 100%; display: flex; align-items: center; background-color: #fff; border-bottom: 1px solid #F2F2F2; position: relative; }
.teamchat-body-div .team-chat-leftrow .icon-thumb{ padding: 0; margin: 0; }
.teamchat-body-div .team-chat-leftrow .icon-thumb .icon-done{ color: #23BF3D; }
.teamchat-body-div .team-chat-leftrow .right-txt-div { padding: 0 0px 0 15px; font-size: 16px; font-weight: 500; color: #222222; line-height: 24px; }
.teamchat-body-div .team-chat-leftrow span.badge.badge-number { background-color: rgba(253, 180, 19, 0.2); color: #FDB413; height: 24px; min-width: 24px; padding: 0; line-height: 24px; font-weight: 700; display: inline-block; position: absolute; right: 20px; border-radius: 100%; }

.teamchat-body-div .tc-top-leftrow { padding: 15px 20px 15px 20px; margin: 0; float: left; width: 100%; position: relative; clear: both; display: block;     border-bottom: 1px solid #F2F2F2; }
.teamchat-body-div .tc-top-leftrow .left-txt-div { padding: 0; margin: 0; width: 100%; display: block; float: left; }
.teamchat-body-div .tc-top-leftrow .left-txt-div h3{ padding: 0; margin: 0; font-size: 16px; font-weight: 700; color: #222222; line-height: 24px; }
.teamchat-body-div .tc-top-leftrow .rightlink-div { position: absolute; top: 15px; right: 20px; line-height: 0px; }
.teamchat-body-div .tc-top-leftrow .rightlink-div .link-right { float: left; display: inline-block; background-color: rgba(0, 19, 77, 0.1); color: #002698; padding: 0 2px; border-radius: 100px; transition: all 0.3s ease-in-out; }
.teamchat-body-div .tc-top-leftrow .rightlink-div .link-right:hover{ background-color: #F0F4FF;  }
.teamchat-body-div .tc-top-leftrow .rightlink-div .link-right .add-i { font-size: 20px; line-height: 24px; }

.team-chat-leftrow02 { padding: 0 0 0 0; margin: 0 0 20px 0; clear: both; width: 100%; display: block; background-color: #fff; border-bottom: 1px solid #F2F2F2; position: relative; float: left; }
.team-chat-leftrow02 .tc-body-leftrow { float: left; width: 100%; }
.team-chat-leftrow02 .tc-body-leftrow .nav-pills>li.active>a, .team-chat-leftrow02 .tc-body-leftrow .nav-pills>li.active>a:hover, .team-chat-leftrow02 .tc-body-leftrow .nav-pills>li.active>a:focus { color: #fff; background-color: #00134D;  border-bottom: 0px solid #00134D; }
.team-chat-leftrow02 .tc-body-leftrow .nav-pills>li>a { font-weight: 600; min-height: 50px; display: flex; align-items: center; line-height: 18px; padding: 9px 15px 9px 55px; border-radius: 0px; }
.team-chat-leftrow02 .tc-body-leftrow ul.custom-tab{ padding: 0; margin: 0; }
.team-chat-leftrow02 .tc-body-leftrow ul.custom-tab>li>a:hover, .team-chat-leftrow02 .tc-body-leftrow ul.custom-tab>li>a:focus { text-decoration: none; background-color: #F0F4FF; margin: 0 0 0 0; border: none; }

.tc-box-body-div .tc-box-listing-div .tc-messages-listing { padding: 0; margin: 0px 0 0 0; height: calc( 100vh - 450px ); overflow-y: auto; }
.teamchat-body-div .tc-messages-listing .user-row { padding: 12px 15px 10px 20px; margin: 0; float: left; width: 100%; border-bottom: 1px solid transparent; background-color: #fff; transition: all 0.3s ease-in-out; }
.teamchat-body-div .tc-messages-listing .user-row:last-child{ border-radius:0px; }
.teamchat-body-div .tc-messages-listing .user-row .img_thumb_div { padding: 0; margin: 0; width: 50px; height: 50px; float: left; max-width: 50px; position: relative; }
.teamchat-body-div .tc-messages-listing .user-row .user-profile-link { clear: both; display: inline-block; width: 100%; }
.teamchat-body-div .tc-messages-listing .user-row .img_thumb_div .img-user { overflow: hidden; border-radius: 100%; width: 100%; }
.teamchat-body-div .tc-messages-listing .user-row .img_thumb_div .profile-status { width: 12px; height: 12px; background-color: #23BF3D; position: absolute; bottom: 4px; right: 1px; border-radius: 100%; }
.teamchat-body-div .tc-messages-listing .user-row .img_thumb_div .profile-status.active{ background-color: #57D48F; }
.teamchat-body-div .tc-messages-listing .user-row .user-content-div { padding: 0px 0 0 10px; margin: 0; float: left; min-height: 50px; display: flex; justify-content: center; flex-direction: column; width: calc( 100% - 50px); }
.teamchat-body-div .tc-messages-listing .user-row .user-content-div span.span-times { float: right; position: absolute; right: 0; font-size: 10px; color: #B2B2B2; top: 0;     line-height: 20px; }
.teamchat-body-div .tc-messages-listing .user-row .user-content-div h3 { padding: 0; margin: 0 0 2px 0; font-size: 14px; font-weight: 600; color: #222222; align-items: center; position: relative; display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding-right: 70px; }
.teamchat-body-div .tc-messages-listing .user-row .user-content-div .user-status { padding: 0 25px 0 0; margin: 0; font-size: 12px; font-weight: 500; color: #666666; text-overflow: ellipsis; white-space: pre; width: 100%; overflow: hidden; line-height: 20px; position: relative; }
.teamchat-body-div .tc-messages-listing .user-row .user-content-div span.badge.badge-number1 { background-color: #23BF3D; color: #fff; height: 20px; min-width: 20px; padding: 0; line-height: 20px; font-weight: 700; display: inline-block; position: absolute; right: 0; font-size: 10px; }
.teamchat-body-div .tc-messages-listing .user-row:hover { border-bottom: 1px solid transparent; background-color: #FFFAF0; }

.tc-box-body-div{ padding: 20px 20px; margin: 0; min-height: 950px; }
.tc-box-body-div .tc-box-top-header-div { padding: 0; margin: 0; position: relative; float: left; min-height: 60px; display: flex; align-items: flex-start; width: 100%; border-bottom: 1px solid #F2F2F2; }
.tc-box-body-div .tc-box-top-header-div .tc-box-topleft-header-div { padding: 0; margin: 0; width: 50%; float: left; }
.tc-box-body-div .tc-box-top-header-div .tc-box-topleft-header-div h3 { padding: 8px 0; margin: 0; font-size: 22px; font-weight: 700; color: #222222; line-height: 29px; }
.tc-box-body-div .tc-box-top-header-div .tc-box-topright-header-div { padding: 0; margin: 0; width: 50%; float: left; position: relative; }
.tc-box-body-div .tc-box-top-header-div .search-box-body-listing-row{ padding: 0px; margin: 0 0 0px 0; width: calc( 100% - 65px ) ; float: left; }
.tc-box-body-div .tc-box-top-header-div .search-box-body-listing-row .input-group{ transition: all 0.3s ease-in-out; box-shadow: 0 0 8px 0 rgba(102, 102, 102, 0.11); border-radius: 10px; }
.tc-box-body-div .tc-box-top-header-div .search-box-body-listing-row .input-group-addon { height: 45px; padding: 0 5px 0 5px; background-color: #fff; border: none; border-radius: 10px 0 0 10px; }
.tc-box-body-div .tc-box-top-header-div .search-box-body-listing-row .input-group-addon>i { font-size: 21px; color: #666666; }
.tc-box-body-div .tc-box-top-header-div .search-box-body-listing-row .searchbox-listing-input { height: 45px; padding: 0 15px 0 10px; border-left: 0px; font-size: 14px; color: #666666; border-radius: 100px; border: none; }
.tc-box-body-div .tc-box-top-header-div .right-icons-div { padding: 0; margin: 0; float: right; position: absolute; right: 0; }
.tc-box-body-div .tc-box-top-header-div .btn-white {  padding: 8px;  margin: 0;  line-height: 27px;  border-radius: 100%;  height: 45px;  width: 45px;  display: inline-block;  float: left;  box-shadow: 0 0 8px 0 rgba(102, 102, 102, 0.11);  border: none;  color: #B2B2B2; background-color: #fff; }

.tc-box-body-div .tc-box-top-header-div .dropdown-right-div { padding: 0; margin: 0; float: left; display: flex; }
.tc-box-body-div .tc-box-top-header-div .icon-right{ color: #666666; font-size: 21px; text-align: left; }
.tc-box-body-div .tc-box-top-header-div .linka{ color: #666666; font-size: 12px; text-align: left; font-weight: 500; }
.tc-box-body-div .tc-box-top-header-div .open>.dropdown-menu { display: block; right: 0px !important; left: auto; box-shadow: 0 0 5px 0 #66666633; border: 1px solid transparent; }
.tc-box-body-div .tc-box-listing-div { padding: 0; margin: 15px 0 0 0; float: left; width: 100%; border: 0px solid #EBEBEB; }
.tc-box-body-div .tc-box-listing-div .teamuser-row { padding: 0 0 0 0; margin: 0 0 12px 0; float: left; width: 100%; border-bottom: 1px solid transparent; background-color: #fff; transition: all 0.3s ease-in-out; border: 1px solid #EBEBEB; position: relative; }
.tc-box-body-div .tc-box-listing-div .teamuser-row .img_thumb_div { padding: 0; margin: 0; width: 40px; height: 40px; float: left; max-width: 40px; position: relative; }
.tc-box-body-div .tc-box-listing-div .teamuser-row .user-profile-link { padding: 12px 15px 10px 20px; clear: both; display: inline-block; width: 100%; }
.tc-box-body-div .tc-box-listing-div .teamuser-row .img_thumb_div .img-user { overflow: hidden; border-radius: 100%; width: 100%; float: left; }
.tc-box-body-div .tc-box-listing-div .teamuser-row .img_thumb_div .profile-status { width: 12px; height: 12px; background-color: #9D9D9D; position: absolute; bottom: 0px; right: 1px; border-radius: 100%; }
.tc-box-body-div .tc-box-listing-div .teamuser-row .img_thumb_div .profile-status.active{ background-color: #23BF3D; }
.tc-box-body-div .tc-box-listing-div .teamuser-row .img_thumb_div .profile-status.unactive{ background-color: #9D9D9D; }
.tc-box-body-div .tc-box-listing-div .teamuser-row .user-content-div { padding: 0px 0 0 12px; margin: 0; float: left; min-height: 40px; display: flex; justify-content: center; flex-direction: column; width: calc( 100% - 52px); margin-left: 12px; border-left: 1px solid #F2F2F2; }
.tc-box-body-div .tc-box-listing-div .teamuser-row .user-content-div span.span-times { float: right; position: absolute; right: 0; font-size: 12px; color: #666666; top: 0; line-height: 20px; }
.tc-box-body-div .tc-box-listing-div .teamuser-row .user-content-div h3 { padding: 0; margin: 0 0 2px 0; font-size: 14px; font-weight: 700; color: #222222; align-items: center; position: relative; display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding-right: 70px; }
.tc-box-body-div .tc-box-listing-div .teamuser-row .user-content-div .user-status { padding: 0 25px 0 0; margin: 0; font-size: 14px; font-weight: 500; color: #666666; text-overflow: ellipsis; white-space: pre; width: 100%; overflow: hidden; line-height: 20px; position: relative; }
.tc-box-body-div .tc-box-listing-div .teamuser-row .user-content-div span.badge.badge-number1 { background-color: #23BF3D; color: #fff; height: 20px; min-width: 20px; padding: 0; line-height: 20px; font-weight: 700; display: inline-block; position: absolute; right: 0; font-size: 10px; }
.tc-box-body-div .tc-box-listing-div .teamuser-row:hover { border: 1px solid #F2F2F2; background-color: #FAFAFA; }

.day-row { padding: 0; margin: 2px 0 10px 0; float: left; width: 100%; }
.day-row p{ padding: 0; margin: 0; font-size: 14px; font-weight: 600; color: #666666; }

.tc-box-body-div .tc-box-listing-div .teamuser-row .hover-show-div { padding: 0 20px; margin: 0; float: left; display: inline-block; box-shadow: 0 0 8px 0 rgba(102, 102, 102, 0.11); border: 1px solid #F2F2F2; border-radius: 100px; position: absolute; bottom: -5px; right: 90px; background-color: #fff; transition: all 0.3s ease-in-out; display: none; }
.tc-box-body-div .tc-box-listing-div .teamuser-row:hover .hover-show-div{ display: block; animation-name: fadeInUp; animation-fill-mode: both;animation-duration: 1s;  }
.tc-box-body-div .tc-box-listing-div .teamuser-row .hover-show-div ul{ padding: 0; margin: 0; list-style-type: none; float: left; }
.tc-box-body-div .tc-box-listing-div .teamuser-row .hover-show-div ul li { display: inline-block; float: left; padding: 0; margin: 0; }
.tc-box-body-div .tc-box-listing-div .teamuser-row .hover-show-div ul li a { display: flex; align-items: center; float: left; padding: 5px 12px; margin: 0; color: rgba(178, 178, 178, 0.66); height: 40px; }
.tc-box-body-div .tc-box-listing-div .teamuser-row .hover-show-div ul li a:hover{ color: #FDB413; }
.tc-box-body-div .tc-box-listing-div .teamuser-row .hover-show-div ul li a .icons-i{ font-size: 20px; }

.tc-bottom-footer-div { padding: 10px; margin: 0; display: flex; align-items: center; width: calc( 100% - 239px - 401px ); border: 1px solid #E2E2E2; background-color: #F2F2F2; color: #fff; border-radius: 0; min-height: 80px; position: fixed; bottom: 0; right: 0; }
.tc-bottom-footer-div .post-input-box01 { padding: 0; margin: 0; width: calc( 100% - 90px ); position: relative;    border-radius: 14px 0px 0px 14px;  }
.tc-bottom-footer-div .post-input-box01 .form-control.textarea-control { width: 100%; border: 1px solid #E2E2E2; border-radius: 0; height: 60px; max-height: 140px; font-size: 16px; padding: 18px 45px 17px 60px; border-radius: 0px; resize: none; line-height: 21px;     border-radius: 14px 0px 0px 14px; }
.tc-bottom-footer-div .btn-postdiv{ width: 90px; }
.tc-bottom-footer-div .btn.btn-send { background-color: #FDB413; font-size: 16px; font-weight: 500; width: 100%; line-height: 0px; height: 60px; transition: all 0.3s ease-in-out; border-radius: 0px 14px 14px 0px; }
.tc-bottom-footer-div .btn.btn-send:hover { background-color: #00134d; color: #fff; }

.tc-bottom-footer-div .tc-footer-icon-div{ padding: 0; margin: 0; position: absolute; top: 0; left: 0; border-radius: 14px 0px 0px 14px;    }
.tc-bottom-footer-div .btn.btn-file-upload { border: 1px solid transparent; border-radius: 0px; color: #666; padding: 0; font-size: 14px; background-color: transparent !important; width: 100%; text-align: left;  }
.tc-bottom-footer-div .btn.btn-file-upload:hover, .tc-bottom-footer-div .btn.btn-file-upload:focus, .tc-bottom-footer-div .btn.btn-file-upload:active{ background-color: #ffffff; color: #fdb413; }
.tc-bottom-footer-div .btn.btn-file-upload label { padding: 16px 20px; display: table; color: #666; margin: 0; font-weight: 500; width: auto; line-height: 24px; background-color: #ffffff;  border-radius: 14px 0px 0px 14px; }
.tc-bottom-footer-div .btn.btn-file-upload:hover label{ border-radius: 14px 0px 0px 14px; }
.tc-bottom-footer-div .btn.btn-file-upload .material-icons.post_icons { font-size: 22px; line-height: 26px; vertical-align: top; color: #666666; }
.tc-bottom-footer-div .btn.btn-file-upload span { display: inline-block; line-height: 24px; padding: 0; margin: 0 0 0 10px; }
.tc-bottom-footer-div .btn.btn-file-upload input[type="file"] { display: none; }

.teamchat-body-div .tc-messages-listing::-webkit-scrollbar { background-color:#fff; width:8px }
.teamchat-body-div .tc-messages-listing::-webkit-scrollbar-track {  background-color:#fff }
.teamchat-body-div .tc-messages-listing::-webkit-scrollbar-thumb { background-color:#b5b5b54d; border-radius:16px; border:1px solid #fff; }
.teamchat-body-div .tc-messages-listing::-webkit-scrollbar-button {display:none}

.gs-body-div.teamchat-body-div{  min-height: 100%;  }
.gs-body-div.teamchat-body-div .tc-box-body-div{  min-height: 100%; }

.mb-0{ margin-bottom: 0px !important; }

.scrollbar-left { padding: 0; margin: 0; height: calc( 100vh - 380px ); overflow-y: auto; }

.scrollbar-left::-webkit-scrollbar { background-color:#fff; width:8px }
.scrollbar-left::-webkit-scrollbar-track {  background-color:#fff }
.scrollbar-left::-webkit-scrollbar-thumb { background-color:#b5b5b54d; border-radius:16px; border:1px solid #fff; }
.scrollbar-left::-webkit-scrollbar-button {display:none}


/******************************************************************************/
/********************          End of LFK Team Chat         *******************/
/******************************************************************************/

/******************************************************************************/
/**************   LionMail page in Changes & Details page.  *******************/
/******************************************************************************/

/* gerneral */

.gs-body-div .left-gs-side-div{ width: 300px; }
.gs-body-div .right-gs-side-div{ width: calc( 100% - 300px ); }
.maillisting-body-box-row .row-div-mail .name-txt h3{ font-size: 14px; }
.maillisting-body-box-row .row-div-mail .desc-txt p{ font-size: 14px; }

/* end of gerneral */

.right-content-div .display_none_body{ display: none; }
.right-content-div .display_show_body{ display: block; }


.lionmail-details-root{ padding: 0; margin: 0;  }
.lionmailbox-details-div{ padding: 25px 50px; margin: 0; min-height: 950px; }
.lionmailbox-details-div .lionmailbox-top-heading-div { padding: 0 0px 0 20px; margin: 0; background-color: #FAFAFA; border: 1px solid #F2F2F2; min-height: 54px; display: flex; align-items: center; }
.lionmailbox-details-div .lionmailbox-top-heading-div .left-back-details{ padding: 0; margin: 0; float: left; min-width: 80px; }

.lionmailbox-details-div .lionmailbox-top-heading-div .center-title-details { padding: 0 0 0 40px; margin: 0; float: left; width: calc( 80% - 80px ); }
.lionmailbox-details-div .lionmailbox-top-heading-div .center-title-details h4 { padding: 0; margin: 0; font-size: 16px; font-weight: 600; float: left; color: #222222; width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.lionmailbox-details-div .lionmailbox-top-heading-div .right-back-details { padding: 0 5px 0 0px; margin: 0; float: left; width: 20%; display: flex; justify-content: flex-end; }

.lionmailbox-details-div .btn-link.btn-back { font-size: 16px; padding: 0; margin: 0; line-height: 26px; display: flex; align-items: center; color: #666666; min-width: 80px; justify-content: flex-start; }
.lionmailbox-details-div .btn-link.btn-back .txt-name{ padding: 0 0 0 10px; line-height: 24px; }
.lionmailbox-details-div .btn-link.btn-back .material-icons.icon-back { color: #666666; }

.lionmailbox-details-div .btn-link.btn-delete { font-size: 16px; padding: 2px 0 0 0; margin: 0; color: #D60000;  display: flex; min-width: 130px; justify-content: center; min-height: 44px; font-weight: 500; background-color: #FFFFFF; border: 1px solid #E2E2E2; border-radius: 4px; transition: all 0.3s ease-in-out;     line-height: 0px; }
.lionmailbox-details-div .btn-link.btn-delete .txt-name{ padding: 0 0 0 8px; line-height: 24px; }
.lionmailbox-details-div .btn-link.btn-delete .material-icons.icon-delete { color: #D60000; font-family: 'Material Icons Outlined'; }

.lionmailbox-details-div .btn-link.btn-delete:hover{ background-color: rgba(214, 0, 0, 0.8); color: #ffffff; }
.lionmailbox-details-div .btn-link.btn-delete:hover .material-icons.icon-delete{ font-family: 'Material Icons'; color: #ffffff; }

.lionmailbox-details-body-div{ padding: 0 10px; margin: 0; position: relative; }

.lionmailbox-details-body-div .user-body-details-div { padding: 10px 0 10px 0; margin: 0 0 0px 0px; clear: both; width: 100%; display: flex; align-items: flex-start; justify-content: flex-start; }
.lionmailbox-details-body-div .user-body-details-div .img-thumb{ width: 40px; }
.lionmailbox-details-body-div .user-body-details-div img { height: 40px; width: 40px; max-height: 40px; max-width: auto; float: left; border-radius: 100px; }
.lionmailbox-details-body-div .user-body-details-div .right-txt-div { width: calc( 100% - 40px ); padding: 0 0px 0 15px; }
.lionmailbox-details-body-div .user-body-details-div .right-txt-div h6 { padding: 0 0px 0 0px; font-size: 14px; font-weight: 600; color: #222222; line-height: 20px; margin: 0; }
.lionmailbox-details-body-div .user-body-details-div .right-txt-div p {  padding: 0 70px 0 20px;  font-size: 12px;  font-weight: 500;  color: #B2B2B2;  line-height: 20px;  margin: 0;  position: relative; }
.lionmailbox-details-body-div .user-body-details-div .right-txt-div p span.pos-fixed-left-top { position: absolute; left: 0; top: 0; color: #666666; }
.lionmailbox-details-body-div .user-body-details-div .right-txt-div p span.pos-fixed-right-top { position: absolute; right: 0; top: 0; color: #666666; }

.lionmailbox-details-body-div .content-div-details { padding: 0 0 15px 0; margin: 0 0 0px 0; }
.lionmailbox-details-body-div .content-div-details p { padding: 0; margin: 0; font-size: 14px; line-height: 24px; font-weight: 500; color: #727272; }
.lionmailbox-details-body-div .content-div-details p > span { display: block; }

.lionmailbox-details-div .bottom-body-details-div { padding: 10px; margin: 0; float: left; width: 100%; border-top: 1px solid #F2F2F2; }

.lionmailbox-details-div .btn-link.btn-common { font-size: 16px; padding: 2px 20px 0 20px; margin: 0 10px 0 0; color: #666666; display: flex; min-width: 130px; justify-content: flex-start; min-height: 45px; font-weight: 500; background-color: #FFFFFF; border: 1px solid #E2E2E2; border-radius: 4px; transition: all 0.3s ease-in-out; line-height: 0px; float: left; }
.lionmailbox-details-div .btn-link.btn-common .txt-name{ padding: 0 0 0 8px; line-height: 24px; }
.lionmailbox-details-div .btn-link.btn-common .material-icons.icon-common { color: #666666;  }
.lionmailbox-details-div .btn-link.btn-common:hover{ background-color: #EBEBEB; }

.content-details-lionmail{ padding: 0; margin: 10px 0 0 0; }
.content-details-lionmail .panel-heading { padding: 0 0 5px 0; margin: 0; cursor: pointer; }
.content-details-lionmail .panel { border: none !important; margin: 0 0 5px 0; border-bottom: 1px solid rgba(0, 0, 0, 0.5); }
.content-details-lionmail .panel-body{ padding: 10px 0 0 0; }
.content-details-lionmail.panel-group .panel-heading+.panel-collapse>.panel-body, .content-details-lionmail.panel-group .panel-heading+.panel-collapse>.list-group{ border-top:none; }
.content-details-lionmail .panel-white>.panel-heading{ border-bottom:none; }
.content-details-lionmail.panel-group .panel+.panel { margin-top: 0; border: none !important; }
.content-details-lionmail.panel-group .panel:last-child{ box-shadow: none; -webkit-box-shadow:none; }

/*  replay  **/

.reply-forward-card { padding: 0; margin: 0 0 20px 0; display: none; }
.reply-forward-card .mail-rf-div { padding: 20px; margin: 0; position: relative; box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); border-radius: 8px; border: 1px solid #cecece; }
.reply-forward-card .mail-rf-div .label-left {  padding: 0;  margin: 0;  position: absolute;  top: 10px;  left: 5px;  color: #070707;  display: inline-block;  float: left;  z-index: 1;  font-size: 14px;  font-weight: 500;  line-height: 18px; }
.reply-forward-card .mail-rf-div .form-group{ padding: 0; margin: 0 0 5px 0;  }
.reply-forward-card .mail-rf-div .select2-container-multi .select2-choices { padding: 0 0 3px 0;  border:none; border-bottom: 1px solid #ddd; background-color: #fff; padding-left: 30px; }
.reply-forward-card .mail-rf-div .select2-container-multi .select2-choices .select2-search-choice>div { color: #00134d; padding: 7px 12px; padding-right: 30px; background-color: #f0f4ff; font-weight: 400; }
.reply-forward-card .mail-rf-div .select2-container-multi .select2-choices .select2-search-choice-close { opacity: 1; }
.reply-forward-card .mail-rf-div .select2-container-multi .select2-choices .select2-search-choice-close:after{ color: #00134d; }
.reply-forward-card .mail-rf-div input.form-control { border: none; border-bottom: 1px solid #ddd; border-radius: 0px; padding: 10px 5px; height: auto; }
.reply-forward-card .mail-rf-div::-webkit-input-placeholder {color: #070707;font-size: 14px;font-weight: 500;   } 
.reply-forward-card .mail-rf-div::-moz-placeholder {color: #070707;font-size: 14px; font-weight: 500; }
.reply-forward-card .mail-rf-div:-ms-input-placeholder {color: #070707;font-size: 14px; font-weight: 500; } 
.reply-forward-card .mail-rf-div:-moz-placeholder {color: #070707;font-size: 14px; font-weight: 500; } 
.reply-forward-card .mail-rf-div .Editor-editor { min-height: 200px; padding: 15px 0px 25px 0px; background-color: #ffffff; }
.reply-forward-card .mail-rf-div .Editor-editor:focus{ outline: none; }
.reply-forward-card .row-fluid.Editor-container .btn-group>.btn-group:nth-child(1), .reply-forward-card .row-fluid.Editor-container .btn-group:nth-child(2)>.btn:nth-child(4), .reply-forward-card .row-fluid.Editor-container .btn-group>.btn-group:nth-child(2),.reply-forward-card .row-fluid.Editor-container .btn-group>.btn-group:nth-child(3), .reply-forward-card .row-fluid.Editor-container .btn-group:nth-child(4), .reply-forward-card .row-fluid.Editor-container .btn-group:nth-child(6), .reply-forward-card .row-fluid.Editor-container .btn-group:nth-child(7), .reply-forward-card .row-fluid.Editor-container .btn-group:nth-child(8), .reply-forward-card .row-fluid.Editor-container .btn-group:nth-child(9){ display: none; }
.reply-forward-card .mail-rf-div .form-textarea { resize: none; border: none; min-height: 150px; }

.reply-forward-card .mail-rf-div .footer-btnrow-rf-mail{ padding: 0; margin: 0; position: relative; }
.reply-forward-card .mail-rf-div .footer-btnrow-rf-mail .btn.btn-send-footer { padding: 7px 12px; margin: 0; background-color: #FDB413; font-size: 16px; font-weight: 500; width: 100px; line-height: 30px; height: 44px; transition: all 0.3s ease-in-out; border-radius: 4px; color: #fff; float: left; }
.reply-forward-card .mail-rf-div .footer-btnrow-rf-mail .btn-row-rf { position: relative; text-align: right; float: right; width: 100%; display: flex; flex-direction: row; justify-content: flex-end; }
.reply-forward-card .mail-rf-div .footer-btnrow-rf-mail .btn-row-rf .mr-10{ margin-right: 10px !important; }
.reply-forward-card .mail-rf-div .footer-btnrow-rf-mail .btn-row-rf .btn-link.btn-delete{ float: left; }

.reply-forward-card .mail-rf-div .footer-btnrow-rf-mail .btn-row-rf .btn.btn-delete-footer { background-color: transparent; color: #D60000; padding: 0 0px; height: 44px; width: 44px; border-radius: 100px; margin-left: 5px; transition: all 0.3s ease-in-out; }
.reply-forward-card .mail-rf-div .footer-btnrow-rf-mail .btn-row-rf .btn.btn-delete-footer:hover{ color: #666; }

/*  End of replay  **/

/******************************************************************************/
/*******   End of LionMail page in Changes & Details page.  *******************/
/******************************************************************************/



@media only screen and (min-width: 1025px){
    
    .cd-shadow-overlayer.display-none-mail-desktop{ display: none !important; opacity: 0; }

}

@media only screen and (min-width: 1025px) and (max-width: 1100px) {

    /******************************************************************************/
    /**************   LionMail page in Changes & Details page.  *******************/
    /******************************************************************************/

    .lionmailbox-details-div { padding: 20px 20px; min-height: 100%; }
    .lionmailbox-details-div .lionmailbox-top-heading-div { padding: 20px 15px 20px 15px; display: block; }
    .lionmailbox-details-div .lionmailbox-top-heading-div .left-back-details{ min-width: 100%; margin: 0 0 10px 0; }
    .lionmailbox-details-div .lionmailbox-top-heading-div .center-title-details { padding: 0 20px 0 0; margin: 0 0 10px 0; width: 75%; float: left; }
    .lionmailbox-details-div .lionmailbox-top-heading-div .right-back-details { padding: 0 0px 0 0px;     margin: -10px 0 0 0; width: 25%; display: block; float: left; }
    .lionmailbox-details-div .btn-link.btn-delete{ width: 100%; }
    .lionmailbox-details-div .btn-link.btn-back{ font-size: 14px; }
    .lionmailbox-details-div .btn-link.btn-back .txt-name { padding: 0 0 2px 10px; }
    .lionmailbox-details-div .lionmailbox-top-heading-div .center-title-details h4{ font-size: 14px; }
    .lionmailbox-details-div .btn-link.btn-delete { font-size: 14px; min-width: 100px; float: left; }
    .lionmailbox-details-div .btn-link.btn-delete .material-icons.icon-delete { font-size: 21px; line-height: 24px; }
    .lionmailbox-details-body-div .content-div-details p { font-size: 12px; }

    .lionmailbox-details-body-div .user-body-details-div { display: block; padding: 15px 0 10px 0; float: left; margin: 0 0 0 0; }
    .lionmailbox-details-body-div .user-body-details-div .img-thumb{ float: left; }
    .lionmailbox-details-body-div .user-body-details-div .right-txt-div { width: 100%; padding: 15px 0px 0 0px; float: left; margin: 0 0 15px 0; }
    .lionmailbox-details-body-div .user-body-details-div .right-txt-div h6 { padding: 0 0px 0px 0px; font-size: 12px; }
    .lionmailbox-details-body-div .user-body-details-div .right-txt-div p{ font-size: 10px; }

    .lionmailbox-details-div .btn-link.btn-common { font-size: 14px; padding: 2px 15px 0 10px; min-width: auto; }
    .lionmailbox-details-div .btn-link.btn-common .material-icons.icon-common { font-size: 21px; line-height: 24px;     padding-top: 1px; }
    .lionmailbox-details-div .btn-link.btn-common .txt-name { padding: 0 0 0 5px;  }


    /******************************************************************************/
    /*******   End of LionMail page in Changes & Details page.  *******************/
    /******************************************************************************/

}


@media only screen and (max-width: 767px){


    .left-gs-top h2 { font-size: 20px; padding-left: 10px; }

    .btn.btn-white.btn-compose { height: 60px; padding: 0 30px; min-width: auto; font-size: 16px; }
    .btn.btn-white.btn-compose img.img-compose { width: 25px; }
    .btn.btn-white.btn-compose .txt-compose { padding: 0 0 0 15px; }

    .gs-body-div { min-height: 100%; display: block; }
    .gs-topic-header .gs-left-dropdown { width: 100%; }
    .gs-topic-header .gs-left-dropdown .dropdown-user-gs{ justify-content: flex-start; }
    .gs-body-div .left-gs-side-div { width: 100%; }
    .gs-body-div .right-gs-side-div{ width: 100%; }
    .mailbox-body-div { min-height: 100%; padding: 30px 20px 150px 20px; }
    .search-box-listing-div .searchbox-result-listing { animation-name: fadeIn; }

    .maillisting-box-div .maillisting-header-box-row .maillisting-header-left{ width: 100%; }
    .maillisting-box-div .maillisting-header-box-row .maillisting-header-right{ width: 100%; }
    .maillisting-box-div .maillisting-header-box-row .maillisting-header-left .link-left-box { float: left; padding: 5px 0 0 0px; display: block; width: 100%; }

    .maillisting-body-box-row .right-div-100 { width: calc( 100% - 80px ); display: flex; align-items: flex-start; flex-direction: column; justify-content: flex-start; }
    .maillisting-box-div .maillisting-body-box-row .row-div-mail { min-height: 70px; }
    .maillisting-body-box-row .row-div-mail .checkbox-left { min-width: 35px; }
    .maillisting-body-box-row .row-div-mail .starred-div{ min-width: 45px; text-align: left; padding-left: 5px; }
    .maillisting-body-box-row .row-div-mail .name-txt { width: 100%; float: left; display: block; padding-right: 10px; }
    .maillisting-body-box-row .row-div-mail .name-txt h3{ font-size: 14px; }
    .maillisting-body-box-row .row-div-mail .name-txt::after{ display: none; }
    .maillisting-body-box-row .row-div-mail .desc-txt{  padding-left: 0px; }
    .maillisting-body-box-row .row-div-mail .desc-txt p{ font-size: 14px; padding: 0 0 0 0; }
    .maillisting-body-box-row .dropdown-right-div .btn-transaprent { padding: 7px 0; }
    
    /* compose modal */    

    .compose-modal { right: 0; z-index: 9999999; }
    .compose-modal .compose-div{ width: 100%; }
    .compose-modal .compose-div .compose-top-header-div { padding: 0 10px; }
    .compose-modal .compose-div .btn.btn-file-upload label { padding: 8px 10px 8px 5px; }
    .compose-modal .compose-div .compose-body-div .compose-form-div { padding: 15px; height: 350px; overflow-y: scroll; }

    .compose-modal .compose-div .compose-top-footer-div .post-input-box01 .form-control.textarea-control { font-size: 12px; padding: 10px 45px 10px 10px; }
    .compose-modal .compose-div .compose-top-footer-div .btn.btn-send { font-size: 14px; padding: 0; }
    .row-fluid.Editor-container .btn { padding: 10px 10px; border: none; background-color: #fafafa; }
    .compose-modal .compose-div .compose-body-div .compose-form-div div#menuBarDiv_compose-area { bottom: -25px; }
    .compose-modal .compose-div .compose-top-footer-div .post-input-box01 { width: calc( 100% - 60px ); }
    .compose-modal .compose-div .compose-top-footer-div .btn-postdiv{ width: 60px; }

    /* end of compose modal */    

    
    /******************************************************************************/
    /********************            LFK Team Chat              *******************/
    /******************************************************************************/

    .gs-body-div.teamchat-body-div .tc-messages-listing { height: 100%; max-height: 500px; overflow-y: auto; }
    .gs-body-div.teamchat-body-div { min-height: 100%;}
    .gs-body-div.teamchat-body-div .tc-box-top-header-div .tc-box-topleft-header-div{ width: 100%;  margin: 0 0 5px 0;  }
    .gs-body-div.teamchat-body-div .tc-box-top-header-div { padding: 0 0 20px 0; margin: 0 0 0px 0; min-height: 100%; width: 100%; display: block; }
    .gs-body-div.teamchat-body-div .tc-box-top-header-div .tc-box-topright-header-div{ width: 100%; }
    
    .gs-body-div.teamchat-body-div .left-gs-side-div{ padding: 20px 10px; }
    .gs-body-div.teamchat-body-div .team-chat-user{ padding: 10px 10px 10px 10px; }
    .gs-body-div.teamchat-body-div .team-chat-leftrow02 .tc-body-leftrow .nav-pills>li>a{     padding: 9px 15px 9px 40px; }
    .gs-body-div.teamchat-body-div .tc-top-leftrow{ padding: 15px 10px 15px 10px; }
    .gs-body-div.teamchat-body-div .tc-messages-listing .user-row { padding: 10px 10px 8px 10px; }
    .gs-body-div.teamchat-body-div .tc-messages-listing .user-row .img_thumb_div { width: 40px; height: 40px; max-width: 40px; }

    .gs-body-div.teamchat-body-div .tc-messages-listing .user-row .user-content-div { padding: 0px 0 0 10px; min-height: 40px; width: calc( 100% - 40px); }
    .gs-body-div.teamchat-body-div .tc-messages-listing .user-row .user-content-div span.badge.badge-number1 { height: 16px; min-width: 16px; line-height: 14px; right: 0; font-size: 9px; }
    .gs-body-div.teamchat-body-div .tc-messages-listing .user-row .user-content-div h3{ font-size: 12px;     margin: 4px 0 0 0; }
    .gs-body-div.teamchat-body-div .tc-messages-listing .user-row .user-content-div .user-status{ font-size: 10px; }

    .gs-body-div.teamchat-body-div .team-chat-leftrow{ padding: 10px 10px 10px 10px; }
    .gs-body-div.teamchat-body-div .team-chat-leftrow span.badge.badge-number{ right: 10px; }
    .gs-body-div.teamchat-body-div .tc-top-leftrow .rightlink-div{ right: 10px; }
    .gs-body-div.teamchat-body-div .tc-box-body-div{ padding: 20px 15px 20px 15px; }
    .gs-body-div.teamchat-body-div .tc-box-listing-div .teamuser-row .user-profile-link{ padding: 10px 10px 10px 10px; }
    .gs-body-div.teamchat-body-div .tc-box-listing-div .teamuser-row .user-content-div h3{ font-size: 12px;  }
    .gs-body-div.teamchat-body-div .tc-box-listing-div .teamuser-row .user-content-div .user-status{ font-size: 12px;  }
    .gs-body-div.teamchat-body-div .tc-box-listing-div .teamuser-row .user-content-div span.span-times{ font-size: 10px;  }
    .gs-body-div.teamchat-body-div .tc-box-listing-div .teamuser-row .user-content-div { padding: 0px 0 0 7px; min-height: 40px; width: calc( 100% - 47px); margin-left: 7px; }
    .gs-body-div.teamchat-body-div .tc-box-listing-div .teamuser-row .hover-show-div { padding: 0 10px; bottom: -5px; right: 12px; }

    .gs-body-div.teamchat-body-div .tc-bottom-footer-div .btn.btn-file-upload label { padding: 8px 10px; }
    .gs-body-div.teamchat-body-div .tc-bottom-footer-div .post-input-box01{ width: calc( 100% - 50px ); }
    .gs-body-div.teamchat-body-div .tc-bottom-footer-div .btn-postdiv { width: 46px;  }
    .gs-body-div.teamchat-body-div .tc-bottom-footer-div .post-input-box01 .form-control.textarea-control { padding: 10px 10px 0px 40px; height: 46px; font-size: 12px; }
    .gs-body-div.teamchat-body-div .tc-bottom-footer-div .btn.btn-send{ height: 46px; }
    .gs-body-div.teamchat-body-div .tc-bottom-footer-div .btn.btn-send .material-icons{ font-size: 18px; }
    .tc-bottom-footer-div .btn.btn-file-upload .material-icons.post_icons { font-size: 18px; }
    .tc-bottom-footer-div { padding: 7px; min-height: 65px; }


    /******************************************************************************/
    /********************          End of LFK Team Chat         *******************/
    /******************************************************************************/

    .tc-bottom-footer-div { width:100%;  }
    .gs-body-div.teamchat-body-div .tc-box-body-div { padding: 20px 15px 70px 15px; }

    /******************************************************************************/
    /**************   LionMail page in Changes & Details page.  *******************/
    /******************************************************************************/

    .lionmailbox-details-div { padding: 20px 20px; min-height: 100%; }
    .lionmailbox-details-div .lionmailbox-top-heading-div { padding: 20px 15px 20px 15px; display: block; }
    .lionmailbox-details-div .lionmailbox-top-heading-div .left-back-details { min-width: 100%; margin: 0 0 10px 0; }
    .lionmailbox-details-div .lionmailbox-top-heading-div .center-title-details { padding: 15px 0px 0 0; width: 100%; margin: 0 0 20px 0; border-top: 1px solid #eee; }
    .lionmailbox-details-div .lionmailbox-top-heading-div .right-back-details { padding: 0 0px 0 0px; width: 100%; display: block; }
    .lionmailbox-details-div .btn-link.btn-delete{ width: 100%; }
    .lionmailbox-details-div .btn-link.btn-back { font-size: 14px; width: 100%; font-weight: 600; }
    .lionmailbox-details-div .btn-link.btn-back .txt-name { padding: 0 30px 2px 0px; text-align: center; width: calc( 100% - 24px ); }
    .lionmailbox-details-div .lionmailbox-top-heading-div .center-title-details h4{ font-size: 14px; }
    .lionmailbox-details-div .btn-link.btn-delete { font-size: 14px; }
    .lionmailbox-details-div .btn-link.btn-delete .material-icons.icon-delete { font-size: 21px; line-height: 24px; }
    .lionmailbox-details-body-div .content-div-details p { font-size: 12px; }

    .lionmailbox-details-body-div .user-body-details-div { display: block; padding: 15px 0 10px 0; float: left; margin: 0 0 0 0; }
    .lionmailbox-details-body-div .user-body-details-div .img-thumb{ float: left; }
    .lionmailbox-details-body-div .user-body-details-div .right-txt-div { width: 100%; padding: 15px 0px 0 0px; float: left; margin: 0 0 15px 0; }
    .lionmailbox-details-body-div .user-body-details-div .right-txt-div h6 { padding: 0 0px 0px 0px; font-size: 12px; }
    .lionmailbox-details-body-div .user-body-details-div .right-txt-div p{ font-size: 10px; }

    .lionmailbox-details-div .btn-link.btn-common { font-size: 14px; padding: 2px 15px 0 10px; min-width: auto; }
    .lionmailbox-details-div .btn-link.btn-common .material-icons.icon-common { font-size: 21px; line-height: 24px;     padding-top: 1px; }
    .lionmailbox-details-div .btn-link.btn-common .txt-name { padding: 0 0 0 5px;  }

    .lionmailbox-details-body-div{ padding: 0 10px; }
    .lionmailbox-details-div .bottom-body-details-div{ padding: 10px 0; }

    /*  replay  **/

    .reply-forward-card .mail-rf-div { padding: 10px; }
    

    /* End of replay  **/

    /******************************************************************************/
    /*******   End of LionMail page in Changes & Details page.  *******************/
    /******************************************************************************/

}

@media only screen and (min-width: 768px) and (max-width:1024px) {

    .btn.btn-white.btn-compose { height: 60px; padding: 0 30px; min-width: auto; font-size: 16px; }
    .btn.btn-white.btn-compose img.img-compose { width: 25px; }
    .btn.btn-white.btn-compose .txt-compose { padding: 0 0 0 15px; }

    .gs-body-div .left-gs-side-div{ width: 35%; padding: 20px 15px; }
    .gs-body-div .right-gs-side-div{ width: 65%; }

    .mailbox-body-div{ padding: 20px 20px; }
    .maillisting-box-div .maillisting-header-box-row .maillisting-header-left{ width: 100%; }
    .maillisting-box-div .maillisting-header-box-row .maillisting-header-right{ width: 100%; padding: 15px 0px 0 0px; justify-content: flex-start; }
    .maillisting-body-box-row .row-div-mail .name-txt h3{ font-size: 14px; }
    .maillisting-body-box-row .row-div-mail .desc-txt p{ font-size: 14px; }
    .maillisting-body-box-row .dropdown-right-div .btn-transaprent { padding: 7px 0; }
    .maillisting-body-box-row .dropdown-right-div .btn-transaprent .icon-star{ font-size: 20px; }

    /******************************************************************************/
    /********************            LFK Team Chat              *******************/
    /******************************************************************************/

    .tc-box-body-div .tc-box-top-header-div .tc-box-topleft-header-div{ width: 40%; }
    .tc-box-body-div .tc-box-top-header-div .tc-box-topright-header-div{ width: 60%; }
    .tc-box-body-div { min-height: 100%; }
    .gs-body-div.teamchat-body-div.clearfix{ min-height: 100%; }

    .tc-bottom-footer-div { width: calc( 100% - 40px - 30% );}


    /******************************************************************************/
    /********************     end of  LFK Team Chat       *******************/
    /******************************************************************************/


    /******************************************************************************/
    /**************   LionMail page in Changes & Details page.  *******************/
    /******************************************************************************/

    .lionmailbox-details-div { padding: 20px 20px; min-height: 100%; }
    .lionmailbox-details-div .lionmailbox-top-heading-div { padding: 20px 15px 20px 15px; display: block; }
    .lionmailbox-details-div .lionmailbox-top-heading-div .left-back-details{ min-width: 100%; margin: 0 0 10px 0; }
    .lionmailbox-details-div .lionmailbox-top-heading-div .center-title-details { padding: 0 20px 0 0; margin: 0 0 10px 0; width: 75%; float: left; }
    .lionmailbox-details-div .lionmailbox-top-heading-div .right-back-details { padding: 0 0px 0 0px;     margin: -10px 0 0 0; width: 25%; display: block; float: left; }
    .lionmailbox-details-div .btn-link.btn-delete{ width: 100%; }
    .lionmailbox-details-div .btn-link.btn-back{ font-size: 14px; }
    .lionmailbox-details-div .btn-link.btn-back .txt-name { padding: 0 0 2px 10px; }
    .lionmailbox-details-div .lionmailbox-top-heading-div .center-title-details h4{ font-size: 14px; }
    .lionmailbox-details-div .btn-link.btn-delete { font-size: 14px; min-width: 100px; float: left; }
    .lionmailbox-details-div .btn-link.btn-delete .material-icons.icon-delete { font-size: 21px; line-height: 24px; }
    .lionmailbox-details-body-div .content-div-details p { font-size: 12px; }

    .lionmailbox-details-body-div .user-body-details-div { display: block; padding: 15px 0 10px 0; float: left; margin: 0 0 0 0; }
    .lionmailbox-details-body-div .user-body-details-div .img-thumb{ float: left; }
    .lionmailbox-details-body-div .user-body-details-div .right-txt-div { width: 100%; padding: 15px 0px 0 0px; float: left; margin: 0 0 15px 0; }
    .lionmailbox-details-body-div .user-body-details-div .right-txt-div h6 { padding: 0 0px 0px 0px; font-size: 12px; }
    .lionmailbox-details-body-div .user-body-details-div .right-txt-div p{ font-size: 10px; }

    .lionmailbox-details-div .btn-link.btn-common { font-size: 14px; padding: 2px 15px 0 10px; min-width: auto; }
    .lionmailbox-details-div .btn-link.btn-common .material-icons.icon-common { font-size: 21px; line-height: 24px;     padding-top: 1px; }
    .lionmailbox-details-div .btn-link.btn-common .txt-name { padding: 0 0 0 5px;  }

     /*  replay  **/

    .reply-forward-card .mail-rf-div { padding: 10px; }
    .reply-forward-card .mail-rf-div .footer-btnrow-rf-mail .btn-row-rf .btn-link.btn-delete{ width: 120px; }



     /* End of replay  **/

    /******************************************************************************/
    /*******   End of LionMail page in Changes & Details page.  *******************/
    /******************************************************************************/
    
}

@media only screen and (min-width: 320px) and (max-width:480px) and (max-height:480px) {

    .compose-modal .compose-div .compose-body-div .compose-form-div { height: 250px;    padding: 5px; }
    .compose-modal .compose-div .compose-top-footer-div { padding: 5px; min-height: 45px; }
    .compose-modal .compose-div .compose-top-header-div .compose-left-top-header h3{ font-size: 14px;  }
    .compose-modal .compose-div .compose-top-header-div{  min-height: 45px; }
    .compose-modal .compose-div .compose-body-div .compose-form-div .select2-container-multi .select2-choices .select2-search-choice>div { padding: 7px 7px; padding-right: 20px; font-size: 11px; }
    .compose-modal .compose-div .compose-body-div .compose-form-div .select2-container-multi .select2-choices .select2-search-choice-close:after { font-size: 12px; right: 0; }
    .compose-modal .compose-div .compose-body-div .compose-form-div .select2-container-multi .select2-choices .select2-search-choice-close { margin: -5px; }
    .compose-modal .compose-div .compose-body-div .compose-form-div input.form-control{ font-size: 12px; }

    /******************************************************************************/
    /*******   LionMail page in Changes & Details page.  *******************/
    /******************************************************************************/


    .reply-forward-card .mail-rf-div .compose-form-div { height: 250px;    padding: 5px; }
    .reply-forward-card .mail-rf-div .select2-container-multi .select2-choices .select2-search-choice>div { padding: 7px 7px; padding-right: 20px; font-size: 11px; }
    .reply-forward-card .mail-rf-div .select2-container-multi .select2-choices .select2-search-choice-close:after { font-size: 12px; right: 0; }
    .reply-forward-card .mail-rf-div .select2-container-multi .select2-choices .select2-search-choice-close { margin: -5px; }
    .reply-forward-card .mail-rf-div input.form-control{ font-size: 12px; }    


     /******************************************************************************/
    /*******   End of LionMail page in Changes & Details page.  *******************/
    /******************************************************************************/


} 


@media only screen and (min-width: 1024px) and (max-width:1366px) {
    
    .tc-bottom-footer-div { width: calc( 100% - 197px - 340px ) ;    z-index: 2; }

    /******************************************************************************/
    /**************   LionMail page in Changes & Details page.  *******************/
    /******************************************************************************/

    .lionmailbox-details-div .lionmailbox-top-heading-div .center-title-details { padding: 0 20px 0 20px; }

    /******************************************************************************/
    /*******   End of LionMail page in Changes & Details page.  *******************/
    /******************************************************************************/

    
}
